.container {
  text-align: center;
  padding: 2rem;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #40e0d0;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.result-box {
  margin-top: 20px;
  padding: 20px;
  background-color: #40e0d0;
  border-radius: 15px;
  font-size: 18px;
}

.video {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}